---
export interface Props {
	title: string;
	description: string;
}

const { title = '', description = '' } = Astro.props;
---

<title>{title}</title>

<meta charset="utf-8" />
<meta name="description" content="{description}" />
<meta name="viewport" content="width=device-width,initial-scale=1.0" />

<meta name="theme-color" content="#1e1e1e" />

<meta name="apple-mobile-web-app-capable" content="no" />
<meta name="apple-mobile-web-app-status-bar-style" content="default" />
<meta name="msapplication-TileColor" content="#1e1e1e" />
<meta name="msapplication-config" content="/browserconfig.xml" />

<meta name="format-detection" content="telephone=no" />
<meta name="twitter:dnt" content="on" />
