---
import Meta from './components/Meta.astro';
import Links from './components/Links.astro';
import Favicon from './components/Favicon.astro';

//TODO: Place your title and description here
const { title = '', description = '' } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="no-js" dir="ltr">
	<head>
		<script type="module">
			document.documentElement.classList.remove("no-js");
			document.documentElement.classList.add("js");
		</script>

		<Meta title="{title}" description="{description}" />
		<Links />
		<Favicon />

		<!-- Service Worker -->
		<script
			type="module"
			src={Astro.resolve('../assets/js/pwaupdate.js')}
		></script>
	</head>
	<body>
		<!-- TODO: Generate the ID here -->
		<div id="">
			<slot></slot>
		</div>

		<!-- Initialize Firebase -->
		<script
			type="module"
			src={Astro.resolve('../assets/js/firebase.js')}
		></script>

		<!-- Initialize WebFonts -->
		<script>
			WebFontConfig = {
				google: {
					families: [""],
				},
				events: false,
			};
		</script>
		<script
			async
			src={Astro.resolve('../assets/js/webfontloader.js')}
		></script>
	</body>
</html>
