---
import Meta from './components/Meta.astro';
import Links from './components/Links.astro';
import Favicon from './components/Favicon.astro';

const { title = 'Wok - Dock for Windows', description = 'Useful Windows taskbar replacement' } = Astro.props;
---
<!DOCTYPE html>
<html lang="en" class="no-js" dir="ltr">
	<head>
		<script type="module">
			document.documentElement.classList.remove("no-js");
			document.documentElement.classList.add("js");
		</script>

		<Meta title={title} description={description} />
		<Links />
		<Favicon />
	</head>
	<body>
		<div id="wok-web" class="flex flex-grow">
			<slot></slot>
		</div>

		<!-- Initialize Firebase -->
		<script
			type="module"
			src={Astro.resolve('../assets/js/firebase.js')}
		></script>
	</body>
</html>
